[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
faker = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-jwt-extended = "*"
flask-cors = "*"
psycopg2-binary = "*"
python-dotenv = "*"
gunicorn = "*"
email-validator = "*"
flask-bcrypt = "*"
flask-socketio = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.8"
